<template>
    <div>
        <section class="content">
            <div class="container-fluid">
                <div class="row justify-content-around">
                    <div class="col-md-6">
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">Add New Post</h3>
                            </div>
                            <form role="form" enctype="multipart/form-data" @submit.prevent="addPost()">
                                <div class="card-body">
                                    <div class="form-group">
                                        <label for="postId">Add Post</label>
                                            <div class="form-group">
                                                <input type="text" class="form-control" :class="{'is-invalid': form.errors.has('title')}" name="title" v-model="form.title" id="title" placeholder="Enter category name">
                                                <has-error :form="form" field="title"></has-error> 
                                            </div>
                                            <div class="form-group">
                                                <label for="descriptionId">Add Description</label>
                                                <markdown-editor v-model="form.description"></markdown-editor> 
                                                <has-error :form="form" field="description"></has-error>
                                            </div>     
                                    </div>
                                    <div class="form-group">
                                        <label for="CategoryId">Select Category</label>
                                        <div class="form-group">
                                            <select class="form-control" v-model="form.cat_id">
                                                <option>Choose category</option>
                                                <option :value="categoryItem.id" v-for="(categoryItem) in getAllCategory" v-bind:key="categoryItem.id">{{categoryItem.cat_name}}</option>
                                            </select>
                                            </div>
                                        <has-error :form="form" field="cate_id"></has-error>   
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputFile">File input</label>
                                        <div class="input-group">
                                            <div class="custom-file">
                                                <input type="file" @change="changePhoto($event)" name="photo" :class="{'is-invalid': form.errors.has('photo')}">
                                            </div>
                                            <div class="input-group-append" style="padding-bottom:25px;">
                                                <img :src="form.photo" alt="" width="80px" height="80px">
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>

                            </form> 
                        </div>
                    </div>                  
                </div>
            </div>            
        </section>
    </div>
</template>
<script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script>
<script src="sweetalert2.all.min.js"></script>
<script>
// <!-- Optional: include a polyfill for ES6 Promises for IE11 -->
    export default {
        name: "new",
        data () {
            return {    
            // Create a new form instance
                form: new Form({
                    title: '',
                    description:'',
                    cat_id:'',
                    photo:'',
                })
            }
        },
        methods: {
            changePhoto(event){
                let file = event.target.files[0];
                if(file.size>1121131){
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Something went wrong!',
                        footer: '<a href="#">Some thing wrong</a>'
                    })     
                }else{
                    let reader = new FileReader();
                    reader.onload = event =>{
                    // The file's text will be printed here
                        this.form.photo = event.target.result
                    };
                    reader.readAsDataURL(file);
                }
            },
            addPost :function (event) {
                this.form.post('/add-post').then((response)=>{
                    Toast.fire({
                        icon: 'success',
                        title: 'Signed in successfully'
                    })
                    this.$router.push('/post');               
                })
                //go to route add-category in web.php
            }
        },
        mounted() {
            this.$store.dispatch("allCategory");
        },
        computed:{
            getAllCategory(){
                  return this.$store.getters.getCategory;//get Category state in store
            }
        }
    }
</script>
<style lang="" scoped>

</style>