<template>
    <div>
        <section class="content">
            <div class="container-fluid">
                <div class="row justify-content-around">
                    <div class="col-md-6">
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">Edit Category</h3>
                            </div>
                            <form role="form" @submit.prevent="updateCategory">
                                <div class="card-body">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Category Name</label>
                                        <input type="text" class="form-control" :class="{'is-invalid': form.errors.has('cat_name')}" name="cat_name" v-model="form.cat_name" id="category-name" placeholder="Enter category name">
                                        <has-error :form="form" field="cat_name"></has-error>
                                       
                                    </div>      
                                </div>
                                <div class="card-footer">
                                    <button type="submit" class="btn btn-primary">Update</button>
                                </div>
                            </form> 
                        </div>
                    </div>                  
                </div>
            </div>            
        </section>
    </div>
</template>
<script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script>
<script src="sweetalert2.all.min.js"></script>
<script>
// <!-- Optional: include a polyfill for ES6 Promises for IE11 -->
    export default {
        name: "new",
        mounted() {
            axios.get(`/edit-category/${this.$route.params.categoryid}`).then((response)=>{
                this.form.fill(response.data.categoryItem);
            });
        },
        data () {
            return {    
            // Create a new form instance
                form: new Form({
                    cat_name: '',
                })
            }
        },
        methods: {
            updateCategory :function (event) {
                this.form.post(`/update-category/${this.$route.params.categoryid}`).then((response)=>{
                    this.$router.push('/category');
                })
                //go to route add-category in web.php
            }
        }
    }
</script>
<style lang="" scoped>

</style>