<template>
    <div>
        <section class="content">
            <div class="row">
                <div class="col-12">
                    <!-- /.card -->
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Category List </h3>     
                            <div class="button-category card-tools text-right ">
                                <button type="button" class="btn btn-info">
                                    <router-link to="/add-category">
                                        <p style="color:white;height:10px; line-height:26px; ">Add Category</p>
                                    </router-link>
                                </button>
                            </div>                      
                        </div>                       
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th><select name="" id="" @change="deleteSelected" :v-model="select">
                                                <option value="">Select</option>
                                                <option value="">Delete all</option>      
                                            </select><br><br/>
                                             <input type="checkbox" v-model="all_select" @click.prevent="selectAll" >Checkall
                                        </th>
                                        <th>STT</th>
                                        <th>Category Name</th>
                                        <th>Date</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                        <tr v-for="(categoryItem,index) in getAllCategory" v-bind:key="categoryItem.id">
                                            <td>
                                                <input type="checkbox" v-model="categoryItemId" :value="categoryItem.id" >                                                 
                                            </td>
                                            <td>{{index+1}}</td>
                                            <td>{{categoryItem.cat_name}}</td>
                                            <td>{{categoryItem.created_at|timeformat}}</td>
                                            <td>
                                                <router-link :to="`/edit-category/${categoryItem.id}`" style="color:white;"><button type="button" class="btn btn-success">Edit</button></router-link> 
                                                <button type="button" class="btn btn-danger" @click.prevent="deleteCategory(categoryItem.id)">Delelte</button>
                                            </td>
                                        </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>
<script>
    export default {
        name: "list",
        data(){
            return{
                categoryItemId:[],
                select:'',
                all_select:false
            }
        },
        mounted() {
            this.$store.dispatch("allCategory");//call this when access in category pages ( the same initState in mobile or index in php)
        },
        computed:{
            getAllCategory(){
                  return this.$store.getters.getCategory;//get Category state in store
            } 
        },
        methods:{
            deleteCategory(id){
                axios.get('/delete-cat/'+id).then((response)=>{
                    this.$store.dispatch("allCategory");
                })
            },
            deleteSelected(){
               axios.get('/deletecategory/'+this.categoryItemId).then((response)=>{
                   this.categoryItemId = [];
                    Toast.fire({
                        icon: 'success',
                        title: 'Signed in successfully'
                    })
                    this.$store.dispatch("allCategory");
                })
            },
            selectAll(){
                if(this.all_select==false){
                    this.all_select=true;
                    for(var categorySelect in this.getAllCategory){
                        this.categoryItemId.push(this.getAllCategory[categorySelect].id);
                    }
                }else{
                this.all_select=true;
                this.categoryItemId = [];
                }       
            }
        }
    }
</script>
<style scoped>

</style>