<template>
    <div>
        <section class="content">
            <div class="container-fluid">
                <div class="row justify-content-around">
                    <div class="col-md-6">
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">Add New custom</h3>
                            </div>
                            <form role="form" enctype="multipart/form-data" @submit.prevent="addCustomer()">
                                <div class="card-body row">
                                    <div class="form-group">
                                        <label for="postId">Add Name</label>
                                        <div class="form-group">
                                            <input type="text" class="form-control" :class="{'is-invalid': form.errors.has('name')}" name="name" v-model="form.name" id="name" placeholder="Enter category name">
                                            <has-error :form="form" field="title"></has-error>
                                        </div>
                                        <label for="postId">Email</label>
                                        <div class="form-group">
                                            <input type="email" class="form-control" :class="{'is-invalid': form.errors.has('email')}" name="email" v-model="form.email" id="email" placeholder="Enter email">
                                            <has-error :form="form" field="email"></has-error>
                                        </div>
                                        <div class="form-group">
                                            <label for="code">Code intro</label>
                                            <div class="form-group">
                                                <div class="form-group col-md-12 ">
                                                    <div class="form-group row">
                                                        <div class="col-md-6">
                                                            <input type="text" class="form-control" :class="{'is-invalid': form.errors.has('code')}" name="code" v-model="form.code" id="code" placeholder="Code customer default">
                                                            <has-error :form="form" field="code">
                                                                {{this.mess}}
                                                            </has-error>
                                                        </div>
                                                        <div class="col-md-6 code-generate">
                                                            <button type="submit" class="btn btn-primary">code generate</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="phone">Phone number</label>
                                            <label>phone</label>
                                            <div class="form-group col-md-12">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <input type="tel" class="form-control" :class="{'is-invalid': form.errors.has('phone')}" name="phone" v-model="form.phone" id="phone" placeholder="Enter phone">
                                                        <has-error :form="form" field="phone"></has-error>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <input type="number" class="form-control" name="point" v-model="form.point" id="point" placeholder="Enter point user">
                                                        <has-error :form="form" field="point">{{this.mess}}</has-error>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="descriptionId">Address</label>
                                            <textarea  class="form-control" :class="{'is-invalid': form.errors.has('description')}" name="address" v-model="form.address" id="address" placeholder="Enter address"></textarea>
                                            <has-error :form="form" field="address">{{this.mess}}</has-error>
                                        </div>
                                    </div>
                                    <div class="form-group"> 
                                        <label for="CategoryId">Choose Level</label>
                                        <div class="form-group">
                                            <select class="form-control" v-model="form.level">
                                                <option>Bạc</option>
                                                <option>Vàng</option>
                                                <option>Kim cương</option>
                                            </select>
                                        </div>
                                        <label for="exampleInputFile">File input</label>
                                        <div class="input-group">
                                            <div class="custom-file">
                                                <input type="file" @change="changePhoto($event)" name="photo" :class="{'is-invalid': form.errors.has('photo')}">
                                            </div>
                                            <div class="input-group-append" style="padding-bottom:25px;">
                                                <img :src="form.photo" alt="" width="80px" height="80px">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>
<script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script>
<script src="sweetalert2.all.min.js"></script>
<script>
    export default {
        name: "addcus",
        data() {
            return {
                form: new Form({
                    name: '',
                    email: '',
                    level: '',
                    point: '',
                    phone: '',
                    address: '',
                    code: ''
                }),
                mess:''
            }
        },
        methods: {
            generateCode() {
                        
            },
            checkCode() {

            },
            addCustomer :function (event) {
                this.form.post('/add-customer').then((response)=>{
                    Toast.fire({
                        icon: 'success',
                        title: 'Signed in successfully'
                    })
                    this.$router.push('/customer');               
                })
                //go to route add-category in web.php
            }   
        },
    }
</script>
<style lang="" scoped>

</style>