<template>
    <div>
        <section class="content">
            <div class="row">
                <div class="col-12">
                    <!-- /.card -->
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Customer</h3>     
                            <div class="button-category card-tools text-right ">
                                <button type="button" class="btn btn-info">
                                    <router-link to="/add-customer">
                                        <p style="color:white;height:10px; line-height:26px; ">Add Customer</p>
                                    </router-link>
                                </button>
                            </div>                      
                        </div>                       
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr >
                                        <th>STT</th>
                                        <th style="width:100px;">User</th>
                                        <th>Email</th>
                                        <th>phone</th>
                                        <th>point</th>
                                        <th>level</th> 
                                        <th>Code Intro</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                        <tr v-for="(customerItem,index) in customerData.data" v-bind:key="customerItem.id">
                                            <td>{{index+1}}</td>
                                            <!-- if else for user -->
                                            <td style="width:100px;">{{customerItem.name}}.</td>
                                            <!-- if else for category -->
                                            <td >{{customerItem.email}}</td>
                                            <!-- end if else -->
                                            <td style="width:150px;">{{customerItem.phone}}</td>
                                            <td>{{customerItem.point}}</td>
                                            <td>{{customerItem.level}}</td>
                                            <td>{{customerItem.code_intro}}</td>
                                            <td>
                                                <router-link :to="`/edit-customer/${customerItem.id}`" style="color:white;"><button type="button" class="btn btn-success">Edit</button></router-link>
                                                <button type="button" class="btn btn-danger" @click.prevent="deleteCustomer(customerItem.id)">Delelte</button>
                                            </td>
                                        </tr>                     
                                </tbody>
                            </table>
                        </div>
                        <div class="card-body">
                            <pagination  :data="customerData" @pagination-change-page="getResults">
                                <span slot="prev-nav">&lt; Previous</span>
	                            <span slot="next-nav">Next &gt;</span>
                            </pagination>
                        </div>             
                    </div>        
                </div>
            </div>
        </section>
    </div>
</template>
<script>
    export default {
        name: "customer",
        mounted() {
            this.$store.dispatch("getCustomer");//call this when access in category pages ( the same initState in mobile or index in php)
        },
        data() {
            return {
                customerData: {},
            }
        },
        created() {
            this.getResults();
        },
        methods:{
            ourImages(nameImages){
                return "upload/"+nameImages;
            },
            deleteCustomer(id){
                axios.get('/delete-customer/'+id).then((response)=>{
                    Toast.fire({
                        icon: 'success',
                        title: 'Signed in successfully'
                    })
                })
                console.log("is relaod pages ");
                this.getResults();
            },
            getResults(page) {
                if (typeof page === 'undefined') {
                    page = 1;
                }
                axios.get('/customer?page=' + page)
                    .then(response => {
                        this.customerData= response.data.customers;
                });
            }//paginate data
        }
    }
</script>
<style scoped>

</style>