<template>
    <span id="blogspot">
        <section id="inner-headline">
            <div class="container">
                <div class="row">
                    <div class="span4">
                        <div class="inner-heading">
                            <h2>Blog left sidebar</h2>
                        </div>
                    </div>
                    <div class="span8">
                        <ul class="breadcrumb">
                            <li><a href="#"><i class="icon-home"></i></a><i class="icon-angle-right"></i></li>
                            <li><a href="#">Blog</a><i class="icon-angle-right"></i></li>
                            <li class="active">Blog with left sidebar</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section id="content">
            <div class="container">
                <div class="row">
                    <div class="span8">
                        <article v-for="(blogpostItem) in getBlogPost" v-bind:key="blogpostItem.id">
                            <div class="row">
                                <div class="span8">
                                    <div class="post-image">
                                        <div class="post-heading">
                                            <h3><a href="#">{{blogpostItem.title}}</a></h3>
                                        </div>
                                        <img :src="`upload/${blogpostItem.photos}`" alt=""/>
                                    </div>
                                    <p>
                                        {{blogpostItem.description}}
                                    </p>
                                    <div class="bottom-article">
                                        <ul class="meta-post">
                                            <li><i class="icon-calendar"></i><a href="#">{{blogpostItem.created_at|timeformat}}</a></li>
                                            <li><i class="icon-user"></i><a href="#">{{blogpostItem.user.name}}</a></li>
                                            <li v-if="blogpostItem.category"><i class="icon-folder-open"></i><a href="#">{{blogpostItem.category.cat_name}}</a></li>
                                            <li v-else><i class="icon-folder-open"></i><a href="#">Not Found category</a></li>
                                            <li><i class="icon-comments"></i><a href="#">4 Comments</a></li>
                                        </ul>
                                        <router-link :to="`/post-detail/${blogpostItem.id}`" class="pull-right">Continue reading <i class="icon-angle-right"></i></router-link>
                                    </div>
                                </div>
                            </div>
                        </article>
                        
                        <!-- <div id="pagination">
                            <span class="all">Page 1 of 3</span>
                            <span class="current">1</span>
                            <a href="#" class="inactive">2</a>
                            <a href="#" class="inactive">3</a>
                        </div> -->
                    </div>
                    <BlogSidebar></BlogSidebar>
                </div>
            </div>
        </section>
    </span>
</template>
<script>
import BlogSidebar from './blogSidebar.vue';
export default {
    name:"blogPost",
    data () {
      return {}
    },
    mounted(){
          this.$store.dispatch("getAllBlogPost");//S
    },
    computed:{
        getBlogPost(){
            return this.$store.getters.getblogPost;//get Category state in store
        },
    },
    methods:{
        getAllCategoryPost(){
            if(this.$route.params.postid!=null){   
                this.$store.dispatch("getAllPostByCatid",this.$route.params.postid);
            }else{
                this.$store.dispatch("getAllBlogPost");//S 
            }
            
        }
    },
    watch:{
        //use for when to change parameter but use in this template
        $route(to,from){
             this.getAllCategoryPost();//change patam in this post id
        }
    },
    components: {
        BlogSidebar,
    },
}
</script>