<template>
    <div>
        <div class="span4">
            <aside class="right-sidebar">
                <div class="widget">
                    <form class="form-search">
                        <input placeholder="Type something" type="text" v-model="keyword"  v-on:keyup="searchCategory" class="input-medium search-query">
                        <button type="submit" @click.prevent="searchCategory" class="btn btn-square btn-theme">Search</button>
                    </form>
                </div>
                <div class="widget">
                    <h5 class="widgetheading">Categories</h5>
                    <ul class="cat">
                        <li v-for="(categoryItem,index) in getAllCategory" v-bind:key="categoryItem.id" ><i class="icon-angle-right"></i><router-link :to="`/category/${categoryItem.id}`">{{categoryItem.cat_name}} </router-link><span style="color:red;">( {{index+2}} )</span></li>
                    </ul>
                </div>
                <div class="widget">
                    <h5 class="widgetheading">Latest posts</h5>
                    <ul class="recent">
                        <li  v-for="(blogpostItem,index) in getBlogPost" v-bind:key="blogpostItem.id"  >
                            <div class="postLates" v-if="index<5">
                                <a href="#"><img :src="`upload/${blogpostItem.photos}`" class="pull-left" alt="" width="40px"/></a>
                                <h6><router-link :to="`/post-detail/${blogpostItem.id}`">{{blogpostItem.title}}</router-link></h6>
                                <p>
                                    {{blogpostItem.description|sortlength(100,"...")}}
                                </p>
                            </div>                            
                        </li>                       
                    </ul>
                </div>
                <div class="widget">
                    <h5 class="widgetheading">Popular tags</h5>
                    <ul class="tags">
                        <li><a href="#">Web design</a></li>
                        <li><a href="#">Trends</a></li>
                        <li><a href="#">Technology</a></li>
                        <li><a href="#">Internet</a></li>
                        <li><a href="#">Tutorial</a></li>
                        <li><a href="#">Development</a></li>
                    </ul>
                </div>
            </aside>
        </div>
    </div>
</template>
<script>
import _ from 'lodash'
export default {
    name:"blogSidebar",
    data(){
        return {
            keyword:''
        }
    },
    mounted() {
            this.$store.dispatch("allCategoryinSideBar");
            //  call this when access in category pages ( the same initState in mobile or index in php)
    },
    computed:{
            getAllCategory(){
                return this.$store.getters.getAllCategorySideBar;//get Category state in store
            },
            getBlogPost(){
                return this.$store.getters.getblogPost;//get Category state in store
            }, 
    },
    methods:{
        //onekey up and debounce
        searchCategory:_.debounce(function(){
            // console.log("test",this.keyword);
            this.$store.dispatch("realSearch",this.keyword);       
        },1000)
    }
}
</script>