<template>
    <span id="singleblog">
       <section id="content">
            <div class="container">
                <div class="row">
                    <div class="span8">
                        <article>
                            <div class="row">
                                <div class="span8">
                                    <div class="post-image">
                                        <div class="post-heading">
                                            <h3><a href="#">{{getPostDetail.title}}</a></h3>
                                        </div>
                                        <img :src="`upload/${getPostDetail.photos}`" alt=""/>
                                    </div>
                                    <p>
                                    </p>
                                  
                                    <p>
                                        {{getPostDetail.description}}    
                                    </p>
                                    <div class="bottom-article">
                                        <ul class="meta-post">
                                            <li v-if="getPostDetail.user" ><i class="icon-user"></i><a href="#"> {{getPostDetail.user.name}}</a></li>
                                            <li><i class="icon-folder-open"></i><a href="#"> Blog</a></li>
                                            <li v-if="getPostDetail.category"><i class="icon-tags"></i><a href="#">{{getPostDetail.category.cat_name}}</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <!-- author info -->
                        <div class="about-author">
                            <a href="#" class="thumbnail align-left"><img src="img/avatar.png" alt="" /></a>
                            <h5><strong><a v-if="getPostDetail.user" href="#"> {{getPostDetail.user.name}}</a></strong></h5>
                            <p>
                                {{getPostDetail.title}}                            
                            </p>
                        </div>
                        <div class="comment-area">
                            <h4>4 Comments</h4>
                            <h4>Leave your comment</h4>
                            <form id="commentform" action="#" method="post" name="comment-form">
                                <div class="row">
                                    <div class="span4">
                                        <input type="text" placeholder="* Enter your full name" />
                                    </div>
                                    <div class="span4">
                                        <input type="text" placeholder="* Enter your email address" />
                                    </div>
                                    <div class="span4 margintop10">
                                        <input type="text" placeholder="Enter your website" />
                                    </div>
                                    <div class="span8 margintop10">
                                        <p>
                                            <textarea rows="12" class="input-block-level" placeholder="*Your comment here"></textarea>
                                        </p>
                                        <p>
                                            <button class="btn btn-theme margintop10" type="submit">Submit comment</button>
                                        </p>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <BlogSidebar></BlogSidebar> 
                </div>
            </div>
        </section>
    </span>
</template>
<script>
import BlogSidebar from './blogSidebar.vue';
export default {
    name:"singleBlog",
    data () {
      return {}
    },
    mounted(){
        // this.dispatch();    
        this.$store.dispatch("getBlogPostDetail",this.$route.params.postid);
    },
    methods:{
        dispatch(){
            return this.$store.dispatch("getBlogPostDetail",this.$route.params.postid);
        }
    },
    computed:{
        getPostDetail(){
            return this.$store.getters.getPostDetail;//get Category state in store
        }, 
    },
    // watch:{
    //     $route(to,from){
    //         this.dispatch();//change patam in this post id
    //     }
    // },  
    components: {
        BlogSidebar,
    },
}
</script>