<template>
    <!-- <router-view></router-view> -->
    <div class="container" id="app">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Example Component</div>

                    <div class="card-body">
                        I'm an example component.
                    </div>
                </div>  
            </div>
        </div>
    </div>
</template>
<script>
export default {
    name:"Rewards ",

}
</script>
