<template>
    <div>
        <section class="content">
            <div class="row">
                <div class="col-12">
                    <!-- /.card -->
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">List Promotion</h3>     
                            <div class="button-category card-tools text-right ">
                                <button type="button" class="btn btn-info">
                                    <router-link to="/add-post">
                                        <p style="color:white;height:10px; line-height:26px; ">Add Promotion </p>
                                    </router-link>
                                </button>
                            </div>                      
                        </div>                       
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr >
                                        <th>STT</th>
                                        <th style="width:100px;">Title</th>
                                        <th style="width:500px;">Description</th>
                                        <th>Số lượng</th>
                                        <th>Xuất</th>
                                        <th>Photos</th>
                                        <th>Action</th>

                                    </tr>
                                </thead>
                                <tbody>
                                        <tr v-for="(postItem,index) in getAllPost" v-bind:key="postItem.id">
                                            <td>{{index+1}}</td>
                                            <!-- end if else -->
                                            <td style="width:150px;">{{postItem.title}}</td>
                                            <td style="width:500px;" v-if="postItem.description">{{postItem.description | sortlength(100,"...")}}</td>
                                            <td  style="width:500px;" v-else ></td>
                                            <th>Số lượng</th>
                                            <th>Xuất</th>
                                            <td><img :src="ourImages(postItem.photos)" width="40px" height="40px"></td>
                                            <td>
                                                <router-link :to="`/edit-post/${postItem.id}`" style="color:white;"><button type="button" class="btn btn-success">Edit</button></router-link>
                                                <button type="button" class="btn btn-danger" @click.prevent="deletePost(postItem.id)">Delelte</button>
                                            </td>
                                        </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>
<script>
    export default {
        name: "promotion",
        mounted() {
            this.$store.dispatch("getAllPromotion");//call this when access in category pages ( the same initState in mobile or index in php)
        },
        computed:{
            getAllPromotion(){
                return this.$store.getters.getPost;//get Category state in store
            },
        },
        methods:{
            ourImages(nameImages){
                return "upload/"+nameImages;
            },
            deletePost(id){
                axios.get('/delete-post/'+id).then((response)=>{
                    Toast.fire({
                        icon: 'success',
                        title: 'Signed in successfully'
                    })
                    this.$store.dispatch("getAllPost");
                })
            },
        }
    }
</script>
<style scoped>

</style>